<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入 Element Plus 的 CSS 文件 -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
    <!-- 引入 Vue 3 -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- 引入 Element Plus 的 JavaScript 文件 -->
    <script src="https://unpkg.com/element-plus"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-plus/lib/index.full.js"></script>
</head>
<body>
    <div id="Application" style="text-align: center;">
        <div style="margin: 40px;"><el-tag>这是模版内容: {{count}}次点击</el-tag></div>
        <div><el-button v-on:click="clickButton">按钮</el-button></div><br>
        <div>
            <el-button>默认按钮</el-button>
            <el-button size="medium">中等按钮</el-button>
            <el-button size="small">小型按钮</el-button>
            <el-button size="mini">按钮</el-button>
        </div><br>
     
        <div>
            <el-button type="primary" v-on:click="clickButton">主要按钮</el-button>
            <el-button type="success" v-on:click="clickButton">成功按钮</el-button>
            <el-button type="info" v-on:click="clickButton">信息按钮</el-button>
            <el-button type="warning" v-on:click="clickButton">警告按钮</el-button>
            <el-button type="danger" v-on:click="clickButton">危险按钮</el-button>
        </div><br>
        
        <div>
            <el-button type="primary" :plain="true">描边</el-button>
            <el-button type="primary" :round="true">圆角</el-button>
            <el-button type="primary" :circle="true">圆形</el-button>
            <el-button type="primary" :disable="true">禁用</el-button>
            <el-button type="primary" :loading="true">加载</el-button>
        </div><br>
        <div>
            <el-button type="primary" icon="el-icon-share"></el-button>
            <el-button type="primary" icon="el-icon-delete"></el-button>
            <el-button type="primary" icon="el-icon-search">图标在前</el-button>
            <el-button type="primary">图标在后<i class="el-icon-upload el-icon--right"></i></el-button>
        </div><br>
        <div>
            <el-tag type="primary">Tag 1</el-tag>
            <el-tag type="success">Tag 2</el-tag>
            <el-tag type="info">Tag 3</el-tag>
            <el-tag type="warning">Tag 4</el-tag>
            <el-tag type="danger">Tag 5</el-tag>
            <el-tag :hit="true">描边标签</el-tag>

            <el-tag color="orange">紫色标签</el-tag>
          </div><br>
          <div>
            <el-select :multiple="true" :clearable="true" v-model="value">
                <el-option v-for="item in options" :value="item.value" :label="item.label" :key="item.value"></el-option>
            </el-select>
          </div><br>
          <div>
            <!-- <el-select :multiple="true" :clearable="true" v-model="value">
                <el-option-group v-for="item in group.options" :value="item.value" :label="item.label" :key="item.value"></el-option-group>
            </el-select> -->
          </div>
          <div>
            <el-switch 
                v-model="switch1"
                active-text="vip"
                inactive-text="unvip"
                active-color="#00FF00"
                inactive-active="#FF000"></el-switch>
          </div>
          <div id="div">
            <el-switch
                v-model="switch2"
                active-text="loading..."
                :loading="true"></el-switch>
          </div>
          <div id="div">
            <el-switch 
                v-model="switch3"
                inactive-text="disable"
                :disabled="true"></el-switch>
          </div>
          <div>
            <el-slider v-model="sliderValue" :format-tooltip="format" style="width: 500px;"
            :step="10"
            :show-stops="true"></el-slider>
          </div>
          <div>
            <el-time-picker
            :is-range="true"
            v-model="time"
            range-separator="-"
            :arrow-control="true"
            start-placeholder="startTime"
            end-placeholder="endTime"></el-time-picker>
          </div><br>
          <div>
            <el-date-picker
            :v-model="date"
            type="daterange"
            range-separator="and"
            start-placeholder="startDate"
            end-placeholder="endDate"></el-date-picker>
          </div><br>
          <div>
            <el-color-picker :show-alpha="true" v-model="color"></el-color-picker>
          </div>
          <div>
            <el-alert title="success msg" type="success"></el-alert>
          </div><br>
          <div>
            <el-button @click="popTip">message</el-button>
          </div><br>
          <div>
            <el-table :data="tableData">
                <el-table-column prop="name" label="姓名"></el-table-column>
                <el-table-column prop="age" label="年龄"></el-table-column>
                <el-table-column prop="subject" label="科目"></el-table-column>
            </el-table>
          </div>
    </div>

</body>
<script>
    const App = Vue.createApp({
        data() {
            return {
                tableData: [{
                    name: "张三",
                    age: 18,
                    subject: "语文"
                },
                {
                    name: "李四",
                    age: 20,
                    subject: "数学"
                },
                {
                    name: "王五",
                    age: 22,
                    subject: "英语"
                }
                ],
                count: 0,
                value: "",
                // options: [{
                //     value: "选项1",
                //     label: "黄金糕"
                // },
                // {
                //     value: "选项2",
                //     label: "双皮奶"
                // },
                // {
                //     value: "选项3",
                //     label: "蚵仔煎"
                // },
                // {
                //     value: "选项4",
                //     label: "龙须面"
                // },
                // {
                //     value: "选项5",
                //     label: "北京烤鸭"
                // }
                // ]
                // options:[{
                //     label: '热门城市',
                //     options: [{
                //         value: 'beijing',
                //         label: '北京'
                //     }, {
                //         value: 'shanghai',
                //         label: '上海'
                //     }, {
                //         value: 'guangzhou',
                //         label: '广州',
                //         disable: true
                //     }, {
                //         value: 'shenzhen',
                //         label: '深圳'
                //     }]
                // },
                // {
                //     label: "美食",
                //     options: [{
                //         value: "黄金糕",
                //         label: "黄金糕"
                //     },
                //     {
                //         value: "双皮奶",
                //         label: "双皮奶"
                //     },
                //     {
                //         value: "蚵仔煎",
                //         label: "蚵仔煎"
                //     },
                //     {
                //         value: "龙须面",
                //         label: "龙须面"
                //     },
                //     {
                //         value: "北京烤鸭",
                //         label: "北京烤鸭"
                //     }
                //     ]
                // }
                // ]
                
            }
        },
        methods: {
            clickButton() {
                this.count++
            },
            format(val) {
                return val + "%"
            },
            poptip() {
                this.$message({
                    message: "这是一条消息提示",
                    // type: "success"
                })
            },
            notify() {
                this.$notify({
                    title: "成功",
                    message: "这是一条成功的提示消息",
                    type: "success",
                    duration: 3000,
                    position: "top-right"
                })
            }
        },
    })
    App.use(ElementPlus)
    App.mount("#Application")
</script>
</html>
